@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 100%;
    font-family: "Helvetica Neue", "Arial", "Hiragino Sans", "Meiryo", sans-serif;
}
img {
    max-width: 100%;
}
.wrapper {
    display: flex;
    margin-bottom: 60px;
}
.wrapper .image {
    width: 50%;
}
.wrapper .image img {
    width: 100%;
    min-width: 0;
    height: 700px;
    object-fit: cover;
    vertical-align: bottom;
}
.wrapper .content {
    height: 700px;
    width: 50%;
    padding: 40px 5% 0 5%;
}
.wrapper .content h1 {
    font-size: 28px;
    margin-bottom: 32px;
}
.wrapper .content .title {
    margin-bottom: 48px;
}
.wrapper .content h2 {
    font-size: 20px;
    padding-bottom: 3px;
    margin: 40px 0 15px 0;
    border-bottom: 1px dotted;
}
.text {
    display: flex;
    flex-wrap: wrap;
}
.text .left {
    border-bottom: 1px dotted;
    padding: 6px 0;
    width: 85%;
}
.text .right {
    border-bottom: 1px dotted;
    padding: 6px 0;
    width: 15%;
    text-align: right;
}
ol li {
    list-style-position: inside;
    border-bottom: 1px dotted;
    padding-bottom: 6px 0;
}
.menu {
    text-align: center;
    margin-bottom: 80px;
}
.menu a {
    display: inline-block;
    border: solid 1px #2b2a27;
    font-size: 0.875rem;
    padding: 18px 60px;
    text-decoration: none;
}
.adress {
    font-size: 0.75rem;
    text-align: center;
    padding: 20px;
}